/*
	Gamepedia Style sheet

	This contains all the styles for the page, feel free to modify it as you like, there should be nothing in here that is absolutly required

	Phillip Gooch < phillip.gooch@gmail.com >
*/
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing:    border-box;
   box-sizing:         border-box;
}
html,body{
	margin:0;
	padding:0;
	font-family:'Helvetica Neue', Helvetica, Sans-Serif;
	background-color:#fafafa;
}
/* Controls the toggle between the search and details pages */
body #details{
	display:none;
}
body.details-open #search{
	display:none;
}
body.details-open #details{
	display:block;
}
/* The start of the main styles */
#wrapper{
	max-width:810px;
	margin:auto;
}
/* The Header */
h1{
	font-weight: 200;
	text-align: center;
	margin: .4em 0 .2em 0;
	padding:0;
	letter-spacing: -.05em;
}
/* The filters */ 
form{
	text-align: center;
	input,
	select{
		display:inline-block;
		font-size:1.1em;
		padding:.09em;
		width:32.5%;
		border:1px solid #aaa;
		border-radius:2px;
	}
	select{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	}
	input{
		background-color: #fff;
		box-shadow: 2px 2px 0px #efefef inset;
		text-indent: .25em;
	}
}
@media only screen and (max-width: 600px){
	form input,
	form select{
		font-size:1.1em;
		padding:.2em .1em;
		width:98%;
	}
}
/* The results list */
h2{
	border-bottom:2px solid #ccc;
	font-size:1.25em;
	font-weight:700;
	margin:.5em 0 0 0;
	padding:.5em .5em 0 .5em;
	background: #fafafa;
	width: 100%;
	max-width: 810px;
}
h2.locked{
	position: fixed;
	top: 0;
	margin-top:0;
	a{
		float: right;
		margin-top: -.25em;
		font-weight: 900;
		display: inline-block;
		width: 1.25em;
		text-align: center;
		cursor: pointer;
	}
}
ul{
	margin:0 0 1.5em 0;
	padding:0;
	list-style: none;
	border-left:1px dotted #ccc;
	border-right:1px dotted #ccc;
	li{
		border-bottom:1px dotted #ccc;
		&:hover{
			background-color:#f3f3f3;
		}
		&.notice{
			background: #eee;
			border-left: 2px solid #ccc;
			border-right: 2px solid #ccc;
			border-bottom: 2px solid #ccc;
			padding:.75em .5em;
			text-align: center;
			margin:0 -1px;
			font-style: italic;
		}
		a{
			padding:.75em .5em;
			letter-spacing: -.05em;
			display: inline-block;
			width:100%;
			text-decoration: none;
			color:inherit;
		}
		i{
			color:#333;
			font-weight:200;
			white-space: nowrap;
		}
		small{
			color:#666;
			font-weight:200;
			font-style: italic;
			white-space: nowrap;
		}
	}
}
@media only screen and (max-width: 812px){
	/* Remove the side borders from the list on small screens, or you get weird 1px horizontal scrolling */
	ul{
		border-right:none;
		border-left:none;
		margin-right:0;
		margin-left:0;
		li.notice{
			margin:0;
		}
	}
}
/* The message center for updating */
#working-notice{
	background-color:#fafafa;
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	.message{
		margin:.5em;
		padding:.5em;
		background-color:#555;
		display: block;
		color:#fff;
		text-align: center;
		overflow: hidden; 
	}
}
/* Footer styles */
#footer{
	text-align:center;
	margin-bottom:1.5em;
	h4{
		font-size:1.1em;
	}
	input{
		font-size:1.1em;
		padding: .125em .35em;
		border-radius:.5em;
		border-width: 1px;
	}
	select{
		display:inline-block;
		font-size:1.1em;
		padding:.09em;
		border:1px solid #aaa;
		border-radius:2px;
		margin-top:.25em;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	}
}
/* The details section */
#details{
	position: relative;
	padding:.75em;
	.loading{
		font-size: 1.1em;
		font-style: italic;
		text-align: center;
		padding: 1em 1.2em;
	}
	.detail{
		border-bottom:1px dotted #ccc;
		padding:.75em .5em;
		/* Specific Item Styles */
		&.ZIMAGE,
		&.ZTITLE{
			border-bottom:none;
			padding:0;
		}
		&.ZIMAGE{
			text-align: center;
			img{
				max-width:100%;
				max-height: 90%;
			}
			.image_loading{
				background: #eee;
				border: 2px solid #ccc;
				padding:.75em .5em;
				text-align: center;
				font-style: italic;
			}
		}
		&.ZTITLE span.value{
			font-size: 1.25em;
			text-align: center;
			display: block;
			font-weight: 700;
			margin: .5em 0;
			padding-bottom:.25em;
		}
		/* The list one is specific enough */
		&:last-of-type{
			border-bottom:none;
		}
	}
}
/* The close button */
input[name="closeDetails"]{
	width: 100%;
	display: inline-block;
	font-size: 1.1em;
	padding: .35em;
	border: 1px solid #aaa;
	border-radius: 2px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	margin-top: .5em;
}
/* This is the div that loads new images up, outside of the screen */
#image-loader{
	position:fixed;
	top:101%;
	left:101%;
}
/* finally just a simple a tag style, to get rid of the tacky blue */
a{
	color:inherit;
}

/* Theme varients */
html.night{
	/* These are variable based for easy additions */
	$background-color: #111;
	$text-color: #aaa;
	$search-item-hover: #151515;
	$border-color:#333;
	$alt-background-color: #222;
	$hivis-bg:#999;
	$hivis-text:#fff;
	$form-border: #333;
	$form-input-grad-top:#222;
	$form-input-grad-bot:#000;
	/* The styles to make it change */
	background-color:$background-color;
	color:$text-color;
	body{
		background-color:$background-color
	}
	form{
		input,
		select{
			color:$text-color;
			border-color:$form-border;
		}
		select{
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$form-input-grad-top), color-stop(100%,$form-input-grad-bot));
		}
		input{
			background-color: mix($form-input-grad-top,$form-input-grad-bot);
			box-shadow: 2px 2px 0px $background-color inset;
		}
	}
	h2{
		border-bottom-color:$border-color;
		background: $background-color;
	}
	ul{
		border-left-color:$border-color;
		border-right-color:$border-color;
		li{
			border-bottom-color:$border-color;
			&:hover{
				background-color:$search-item-hover;
			}
			&.notice{
				background: $alt-background-color;
				border-left-color:$border-color;
				border-right-color:$border-color;
				border-bottom-color:$border-color;
			}
			i{
				color:mix($text-color,$background-color,70);
			}
			small{
				color:mix($text-color,$background-color,50);
			}
		}
	}
	#working-notice{
		background-color:$background-color;
		&.message{
			background-color:$hivis-bg;
			color:$hivis-text;
		}
	}
	#details{
		.detail{
			border-bottom-color: $border-color;
			/* Specific Item Styles */
			&.ZIMAGE{
				.image_loading{
					background: $alt-background-color;
					border-color: $border-color;
				}
			}
		}
	}
	input[name="closeDetails"],
	#footer input,
	#footer select{
		border-color: $form-border;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$form-input-grad-top), color-stop(100%,$form-input-grad-bot));
		color: $text-color;
	}
}
/* Theme varients */
html.low_contrast{
	/* These are variable based for easy additions */
	$background-color: #FFFFF9;
	$text-color: #999;
	$search-item-hover: #F9F9E8;
	$border-color:#ddc;
	$alt-background-color: #F9F9E8;
	$hivis-bg:#553;
	$hivis-text:#fff;
	$form-border: #cca;
	$form-input-grad-top:#FFFFF6;
	$form-input-grad-bot:#FFFFF0;
	/* The styles to make it change */
	background-color:$background-color;
	color:$text-color;
	body{
		background-color:$background-color
	}
	form{
		input,
		select{
			color:$text-color;
			border-color:$form-border;
		}
		select{
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$form-input-grad-top), color-stop(100%,$form-input-grad-bot));
		}
		input{
			background-color: mix($form-input-grad-top,$form-input-grad-bot);
			box-shadow: 2px 2px 0px $background-color inset;
		}
	}
	h2{
		border-bottom-color:$border-color;
		background: $background-color;
	}
	ul{
		border-left-color:$border-color;
		border-right-color:$border-color;
		li{
			border-bottom-color:$border-color;
			&:hover{
				background-color:$search-item-hover;
			}
			&.notice{
				background: $alt-background-color;
				border-left-color:$border-color;
				border-right-color:$border-color;
				border-bottom-color:$border-color;
			}
			i{
				color:mix($text-color,$background-color,70);
			}
			small{
				color:mix($text-color,$background-color,50);
			}
		}
	}
	#working-notice{
		background-color:$background-color;
		&.message{
			background-color:$hivis-bg;
			color:$hivis-text;
		}
	}
	#details{
		.detail{
			border-bottom-color: $border-color;
			/* Specific Item Styles */
			&.ZIMAGE{
				.image_loading{
					background: $alt-background-color;
					border-color: $border-color;
				}
			}
		}
	}
	input[name="closeDetails"],
	#footer input,
	#footer select{
		border-color: $form-border;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$form-input-grad-top), color-stop(100%,$form-input-grad-bot));
		color: $text-color;
	}
}
